.signin{
  background-color: #e8b923;
  
}
.signin:hover{
  background-color: #be9a20;
}
a{
  color: #e8b923;
}
a:hover{
  color: #be9a20;

}
input{
  width: 100%;
  padding: 8px;
  border: 1px solid #e2b631;
  border-radius: 5px;
  background-color: #ffffff;
}